HTTP_ADDR=:8081
CONTROL_PLANE_GRPC_ADDR=localhost:9091
INTERNAL_API_KEY=0bde7c0af9763d2a23c3400a9828e9eddaea65afc9f7797f5766b77a618ebfbc
DATABASE_URL=postgresql://postgres.defitkdxwzyeicwtqnus:ABC123***@aws-0-ap-southeast-1.pooler.supabase.com:6543/postgres
JWT_SECRET=SLAWpdi0PBqyv70xGBF0hHnv7l57h7QtZbAhW7NELjI=
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL=168h
CONFIG_CACHE_TTL=30s